{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
	  <div class="col-lg-4 col-md-6 my-1 d-flex align-items-stretch mx-auto">
	  <a href="{% url 'destination-detail' destination.id %}">
	  <div class="card " style="width: 25rem;">
	  <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
	  <div class="card-body">
	    <h3 class="card-title">{{destination.name}}</h3>
	    <p class="card-text">{{destination.activities}}</p>
	  </div>
	  </a>
	</div>
</div>
  {% endfor %}
</div>
{% endblock content %}